@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/lufga");

body {
  font-family: "Lufga", sans-serif;
}

.vendor-logo {
  font-weight: 800;
  font-size: x-large;
}

.stats-icon {
  width: 1rem;
  height: 1rem;
}

.card-btn {
  width: 2rem;
  height: 2rem;
}
